<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handson</title>
</head>

<body>
    <h1>This is gin server!</h1>
    <p>Today is {{.today}} ({{.dayOfWeek}})</p>
    <p>Time : {{.now}} ({{.timeZone}})</p>
</body>

</html>
